<!DOCTYPE html>
<html>
<title>Raid HEI - Le Raid</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="images/logo.png">
<link rel="stylesheet" href="css/genreal.css">
<link type="text/javascript" src="js/script.js">
<body>

<!-- Navbar -->
<nav class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <div class="w3-dropdown-hover w3-hide-small">
      <a href="index"><button class="w3-padding-large w3-button" title="More">LE RAID</button></a>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="equipe" class="w3-bar-item w3-button">L'EQUIPE</a>
        <a href="lieu" class="w3-bar-item w3-button">LE LIEU</a>
        <a href="precedent" class="w3-bar-item w3-button">RAIDS PRECEDENTS</a>
        <a href="epreuves" class="w3-bar-item w3-button">EPREUVES</a>
      </div>
    </div>
    <a href="partenariat" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PARTENARIATS</a>
    <a href="engagements" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ENGAGEMENTS</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">INFORMATIONS</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="infos" class="w3-bar-item w3-button">INFOS PRATIQUES</a>
        <a href="materiel" class="w3-bar-item w3-button">MATERIEL</a>
        <a href="galerie" class="w3-bar-item w3-button">GALERIE</a>
      </div>
    </div>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">INSCRIPTIONS</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="inscription1" class="w3-bar-item w3-button">INSCRIPTION ET CREATION D'UNE EQUIPE</a>
        <a href="inscription2" class="w3-bar-item w3-button">INSCRIPTION ET REJOINDRE UNE EQUIPE</a>
        <a href="inscription3" class="w3-bar-item w3-button">INSCRIPTIONS SOLO</a>
      </div>
      <a href="connexion" class="w3-hover-red w3-hide-small w3-right" style="padding: 7px 24px;"><i class="fa fa-user-circle fa-2x"></i></a>
    </div>
  </div>
</nav>

<!-- Navbar on small screens -->
<nav id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">LE RAID</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">PARTENARIATS</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">INSCRIPTIONS / CONNEXION</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">INFORMATIONS</a>
</nav>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Raid Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">INFOS PRATIQUES</h2>
    <p class="w3-justify">
Lieu : Parc naturel régional de Scarpe-Escaut<br>
Date : 31 Mars - 2 Avril<br><br>

Participation  :<br> 
Le Raid est ouvert à tous, à partir de 18ans. Les pré-inscriptions sont ouvertes à partir de début janvier 2018. Pour valider votre inscription, vous devrez envoyer/déposer les papiers à l'adresse suivante :<br><br>

Raid HEI<br>
13 rue de Toul<br>
59046 LILLE CEDEX<br>
</p><br>

<ul>
  <li>L'attestation de lecture du règlement signée (Télécharger le règlement et l'attestation de sa lecture).</li>
  <li>Une caution de 250euros pour l'équipe (ou 62,50euros par personne)</li>
  <li>Le montant de l'inscription</li>
  <li>La photocopie d'une carte étudiante valide ou d'un certificat de scolarité si vous êtes étudiant</li>
  <li>Un certificat médical de non contre-indication à la pratique du sport en compétition datant de moins d'un an</li>
</ul><br><br>

<p class="w3-justify">
Vous avez maintenant la possibilité de payer votre inscription en ligne, d'envoyer votre certificat médical, votre certificat de scolarité/carte étudiante et l'attestation de lecture du règlement signée en utilisant le site du raid, rendez-vous <a href="">ICI</a><br><br>


La clôture des inscriptions est fixée au 28 mars 2018 à 23h59. Aucune inscription ne sera acceptée après cette date. Aucune inscription ne sera remboursée s'il y a des désistements après le 19 mars 2018.<br><br>

<p class="w3-justify">
Frais d'inscription : <br>
Le montant de l'inscription peut être payé par chèque à l'ordre "AS HEI", en espèces, par carte bancaire et par internet via PUMPKIN. Il inclut : l'assistance médicale, la sécurité de l'épreuve, l'hébergement, le ravitaillement, les repas (sauf celui du samedi soir), le départ en bus de Lille. Le montant s'élève à :</p>
</p>
<ul>
  <li> 57 euros par équipier pour les étudiants.</li>
  <li> 72 euros par équipier pour les salariés.</li>
</ul>
<p class="w3-justify">
Possibilité de louer un vélo et un casque pour 10 euros supplémentaires.<br><br>


Pour toute inscription après le 13 mars 2018 23h59 le montant sera de 67 euros par équipier (étudiants) et de 92 euros par équipier (salariés). Le supplément location vélo restant le même c'est à dire 10 euros.<br><br>


Depart/Retour :<br>
Le départ en bus est prévu le 31/03/2018 à 16h au 60 boulevard Vauban à Lille. Pour les personnes qui viennent par leur propre moyen, le rendez-vous est fixé à 17h15 au camping des Poteries, rue des poteries à Flines-lès-Mortagne. Le retour est prévu le lundi vers 16h00.
Note : Eviter les grosses valises et opter pour des sacs pour que tout puisse entrer dans la soute<br><br>

Equipes : <br>
Les équipes doivent se composer de 4 personnes pour être classées. 
Elles peuvent être mixtes.</p>

  </div>

  <!-- The Contact Section -->
  <div class="w3-white" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">CONTACT</h2>
      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <i class="fa fa-map-marker fa-2x" style="width:30px"></i> Chicago, US
        </div>
        <div class="w3-third w3-margin-bottom">
          <i class="fa fa-phone fa-2x" style="width:30px"></i> Phone: +00 151515
        </div>
        <div class="w3-third w3-margin-bottom">
          <i class="fa fa-envelope fa-2x" style="width:30px"> </i> Email: mail@mail.com
        </div>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center w3-opacity w3-xlarge">
  <i class="fa fa-facebook-official fa-2x w3-hover-opacity" style="color: #0e3561;"></i>
  <i class="fa fa-instagram fa-2x w3-hover-opacity"></i>
  <i class="fa fa-snapchat fa-2x w3-hover-opacity" style="color: #f2b809"></i>
  <i class="fa fa-pinterest-p fa-2x w3-hover-opacity" style="color: #c00;"></i>
  <i class="fa fa-twitter fa-2x w3-hover-opacity" style="color: #09c;"></i>
</footer>

</body>
</html>
