<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<title>Raid HEI - Le Raid</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="images/logo.png">
<link rel="stylesheet" type="text/css" href="../../css/inscriptions.css">
<style>
body {
  font-family: "Lato", sans-serif, font-size:12px;
   background: url("../../images/terril.jpg") no-repeat;
   background-size: 100%;
  font-size:12px}
.mySlides {display: none}
footer{
  position: absolute;
    bottom: 0;
  left: 0;
  right: 0;}

.nodisplay, .displayondemand { display:none; }

#showForm1:checked ~ #form1 { display: block; }

#showForm2:checked ~ #form2 { display: block; }

#showForm3:checked ~ #form3 { display: block; }

input[name=showForm]:checked + label { background-color: #4CAF50; color: #f2f2f2 }
</style>
<body>

<!-- Navbar -->
<nav class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <div class="w3-dropdown-hover w3-hide-small">
      <a href="index"><button class="w3-padding-large w3-button" title="More">LE RAID</button></a>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="equipe" class="w3-bar-item w3-button">L'EQUIPE</a>
        <a href="lieu" class="w3-bar-item w3-button">LE LIEU</a>
        <a href="#" class="w3-bar-item w3-button">RAIDS PRECEDENTS</a>
        <a href="#" class="w3-bar-item w3-button">EPREUVES</a>
      </div>
    </div>
    <a href="partenariat" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PARTENARIATS</a>
    <a href="engagements" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ENGAGEMENTS</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">INFORMATIONS</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="infos" class="w3-bar-item w3-button">INFOS PRATIQUES</a>
        <a href="materiel" class="w3-bar-item w3-button">MATERIEL</a>
        <a href="#" class="w3-bar-item w3-button">GALERIE</a>
      </div>
    </div>
    <a href="inscriptions" class="w3-bar-item w3-button w3-padding-large w3-hide-small">INSCRIPTION</a>
    <a href="connexion" class="w3-hover-red w3-hide-small w3-right" style="padding: 7px 24px;"><i class="fa fa-user-circle fa-2x"></i></a>
  </div>
</nav>

<!-- Navbar on small screens -->
<nav id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">LE RAID</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">PARTENARIATS</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">INSCRIPTIONS / CONNEXION</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">INFORMATIONS</a>
</nav>

<!-- Page content -->
<div class="container">

  <form name="formulaire">
    <label >E-mail</label>
    <input type="email" name="email" required="" >
    <label>Mot de passe</label><input type="password" name="mdp1" required="">
    <label>Confirmer le mot de passe</label><input type="password" name="mdp2" required="">
    <label>Nom</label><input type="text" name="nom" required="" >
    <label>Prénom</label><input type="text" name="prenom" required="" >
    <label>Sexe</label>
    <select name="sexe">
      <option value="F">Féminin</option>
      <option value="M">Masculin</option>
    </select>
    <label>Numéro de portable</label><input type="tel" name="tel" required="" onKeyUp="verifTel(this)">
    <label>Statut</label>
    <select>
      <option value="etudiant">Etudiant</option>
      <option value="salarie">Salarié</option>
    </select>
    <label>Nom de votre école ou de votre entreprise</label><input type="text" name="ent/ecole" required="">
    <label>Nom de la personne à contacter en cas d'urgrence</label><input type="text" name="nomUrg" required="">
    <label>Numéro de la personne à contacter en cas d'urgence</label><input type="tel" name="telUrg" required=""onKeyUp="verifTel(this)">
    <label>Cotisant BDS HEI ?</label>
    <select name="bds">
      <option value="oui">Oui</option>
      <option value="non">Non</option>
    </select>
    <label>Amenez-vous votre propre VTT ?</label>
    <select name="vtt">
      <option value="oui">Oui</option>
      <option value="non">Non</option>
    </select>
    <label>Venez-vous avec le bus mis à votre disposition ?</label>
    <select name="bus">
      <option value="oui">Oui</option>
      <option value="non">Non</option>
    </select>
      <label>Etes-vous membre de la FFTri ?</label>
      <select name="bus">
          <option value="oui">Oui</option>
          <option value="non">Non</option>
      </select>
    <label>Quelle est votre taille de t-shit ?</label>
    <select name="tshirt">
      <option value="s">S</option>
      <option value="m">M</option>
      <option value="l">L</option>
      <option value="xl">XL</option>
    </select>

    <input  id=showForm1 name=showForm type=radio class="nodisplay" onclick="reset1()">
    <label for=showForm1>Créer une équipe</label>
    <input  id=showForm2 name=showForm type=radio class="nodisplay" onclick="reset2()">
    <label for=showForm2>Rejoindre une équipe</label>
    <input  id=showForm3 name=showForm type=radio class="nodisplay" onclick="reset3()">
    <label for=showForm3>S'inscrire en individuel</label><br><br>

    <div id=form1 class="displayondemand">
      <label>Nom de l'équipe</label>
      <input name="nomEquipe1" type=text value="" onblur="verifNomEquipe(this)">
      <label>Mot de passe de l'équipe</label>
      <input type="password" name="mdpE1" required="" >
      <label>Type de raid</label>
      <select>
        <option value="Aventure">Aventure</option>
        <option value="Expert">Expert</option>
      </select>
    </div>

    <div id=form2 class="displayondemand">
      <label>Equipe à rejoindre</label>
      <select name="nomEquipe1">
        <option th:each="equipe:${nomEquipe1}" th:text="${equipe.nom}" th:value="${equipe.nom}">

        </option>
      </select>
      <label>Mot de passe de l'équipe</label>
      <input type="password" name="mdpE" required="">
    </div>

    <div id=form3 class="displayondemand">
        <input name="nomEquipe3" type=hidden value="Indiv">
    </div>

    <input type="submit" name="button">
  </form>
  
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center w3-opacity w3-xlarge">
  <i class="fa fa-facebook-official fa-2x w3-hover-opacity"></i>
  <i class="fa fa-instagram fa-2x w3-hover-opacity"></i>
  <i class="fa fa-snapchat fa-2x w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p fa-2x w3-hover-opacity"></i>
  <i class="fa fa-twitter fa-2x w3-hover-opacity"></i>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}

function reset1() {
    document.getElementById('nomEquipe2').value="";
}

function reset2() {
    document.getElementById('nomEquipe1').value="";
    document.getElementById('mdpE1').value="";
    document.getElementById('mdpE2').value="";
}

function reset3() {
    document.getElementById('nomEquipe1').value="";
    document.getElementById('mdpE1').value="";
    document.getElementById('mdpE2').value="";
    document.getElementById('mdpE').value="";
}
</script>

</body>
</html>
